<main>
    {{!-- Create the div class for the Create Profile page --}}
    <div class="Profile-Create">        
        <div class="profile-page-header">
            <h1>Create a Profile</h1>
        </div>

        {{!-- Text boxes for creating a profile --}}
        <div class="profile-details">
                <p>Create a Username: </p> 
                <input type="text" class="text-box" aria-label="enter-username"></input> 
                <p>Create a Password: </p> 
                <input type="text" class="text-box" aria-label="enter-password"></input>    
                <p>Add a a Email: </p> 
                <input type="text" class="text-box" aria-label="enter-email"></input>
                <p>Add a Zipcode: </p> 
                <input type="text" class="text-box" aria-label="enter-zipcode"></input>
        </div>
        <div class="submit-button">
            <button class="edit-button" aria-label="create-login">Create Profile</button>
        </div>
    </div>
</main>
