<main>
    {{!-- Create the div class for the Create Profile page --}}
    <div class="Profile-Create">        
        <div class="profile-page-header">
            <h1>Create a Profile</h1>
        </div>

        {{!-- Text boxes for creating a profile --}}
        <div class="profile-details">
                <p>Create a Username: </p> 
                <input type="text" class="text-box" aria-label="create-username">Username</input> 
                <p>Create a Password: </p> 
                <input type="text" class="text-box" aria-label="create-password">Password</input>    
                <p>Add a a Email: </p> 
                <input type="text" class="text-box" aria-label="create-email">Email</input>
                <p>Add a Zipcode: </p> 
                <input type="text" class="text-box" aria-label="create-zipcode">Zipcode</input>
        </div>

    </div>
</main>
