{{!-- Designate a landing page class for the file --}}
<div class="landing-page">
    {{!-- Make a content section that holds the goals of the webpage and the user documentation as well as the how to use --}}
    <main class="content">
      <div class="goals">
        <h2 class="goal">
          <a href="https://github.com/NicholasGraalum/CS362-Project/blob/main/documentation/ProjectProposal.md">Goals of Smart Cart</a>
        </h2>
        <p>We created this website to assist with meal planning and grocery shipping. Click the header above for more
           information about our goals.</p>
      </div>

      <div class="documents">
        <h2 class="documentation">
          <a href="https://github.com/NicholasGraalum/CS362-Project/blob/main/documentation/LIVINGDOC.md">Resources</a>
        </h2>
        <p>Click the header above to find the documentation containing in depth information about the process of making this
           website.
        </p>
      </div>

      <div class="howtouse">
        <h2>
          <a href="https://github.com/NicholasGraalum/CS362-Project/blob/main/documentation/userDocumentation.md">How to use SmartCart</a>
        </h2>
        <p>Click the header above for a guide to using our website.</p>
      </div>
    </main>
  </body>
</div>