{{!-- Designate a landing page class for the file --}}
<div class="landing-page">
    {{!-- Make a content section that holds the goals of the webpage and the user documentation as well as the how to use --}}
    <main class="content">
      <div class="goals">
        <h2 class="goal">
          <a>Goals of Smart Cart</a>
        </h2>
        <p>"Here we will layout our goals "</p>
      </div>

      <div class="documents">
        <h2 class="documentation">
          <a>Resources</a>
        </h2>
        <p>"What resources we used to make smart cart"</p>
      </div>

      <div class="howtouse">
        <h2>
          <a>How to use SmartCart</a>
        </h2>
        <p>Here we will show how a user can use smart cart</p>
      </div>
    </main>
  </body>
</div>