{{!-- <main>
    <div class="login-page-header">
        <h1>Login</h1>
    </div>
    
    {{#if success}}
    <div class="success-message">
        <p>{{success}}</p>
    </div>
    {{/if}}
    
    <form action="/login" method="POST">
        <div class="login-details">    
            <p>Email: </p> 
            <input type="text" name="email" class="text-box" id="submit-email" required></input>
            <p>Password: </p> 
            <input type="password" name="password" class="text-box" id="submit-password" required></input>
        </div>
        <div class="submit-button">
            <button type="submit" class="edit-button" id="submit-login">Login</button>
        </div>
    </form>
    <div class="submit-button">
        <a href="/create-profile"><button class="edit-button" id="create-profile">Create Profile</button></a>
    </div>
</main> --}}

<main>
    <div class="login-page-header">
        <h1>Welcome Back</h1>
    </div>
    <div class="login-details">    
        <p>Email: </p> 
        <input type="text" class="login-box" id="submit-email"></input>
        <p>Password: </p> 
        <input type="password" class="login-box" id="submit-password"></input>
    </div>
    <div class="login-button">
        <button class="edit-button" id="submit-login">Login</button>
    </div>
    <div class="login-button">
        <a href="/create-profile"><p>Dont have an account?<button class="edit-button" id="create-profile">Signup</button></p></a>
    </div>
</main>