<main>
    <div class="login-page-header">
        <h1>Login</h1>
    </div>
    <div class="login-details">    
        <p>Email: </p> 
        <input type="text" class="text-box" aria-label="create-email"></input>
        <p>Password: </p> 
        <input type="text" class="text-box" aria-label="create-password"></input>
    </div>
    <div class="submit-button">
        <button class="edit-button" aria-label="submit-login">Login</button>
    </div>
</main>