<main>
    <div class="meals-bar">
      <h2>Meals</h2>
      <h2><button id="search-meals">Search Meals</button></h2>
      <h2><button id="create-meal">Create Meal</button></h2>
      <h2><a href="/meals/favorites"><button >Favorites</button></a></h2>
    </div>
    <div class="meal-grid" id="all-meal-grid">
      {{#if meals}}
        {{#each meals}}
        {{> meal}}
        {{/each}}
      {{else}}
        <p>No meals found. Please try a different search.</p>
      {{/if}}
    </div>
</main>

{{> searchMealsModal}}
{{> createMealModal}}