<main>
    <div class="meals-bar">
      <h2>Meals</h2>
      <h2><button id="search-meals">Search Meals</button></h2>
      <h2><button id="create-meal">Create Meal</button></h2>
    </div>
    <div class="meal-grid" id="all-meal-grid">
        {{#each meals}}
        {{> meal}}
        {{/each}}
    </div>
</main>

{{> searchMealsModal}}
{{> createMealModal}}