{{!-- Make a modal for the boxes of the ingredients on the ingredients page --}}
<div class="ingredient"
    {{!-- Include the data associated with the current ingredient --}}
    data-id={{id}}
    data-name={{name}}
>
    {{!-- Include the name of the ingredient as well as a quantity based add button --}}
    <p><a href="/ingredients/{{id}}">{{name}}</a></p>
    <div class="quantity-button">
        <button class="add-ingredient-button">Add</button>
        <button class="increase">+</button>
        <input type="number" value="1" min="1">
        <button class="decrease">-</button>
    </div>
</div>